{
  "presets": [
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx"
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current" 
            }
          }
        ]
      ]
    }
  }
}
